.*.kate-swp
*.txt
*.aseprite
cardgame
card_preview
import.json
/src/assets/cards/ModularCardsRPG/ExampleCards/
/src/assets/cards/ModularCardsRPG/Assets/
/.idea/vcs.xml
/.idea/misc.xml
/.idea/editor.xml
