*.aseprite
.idea/
cardgame
card_preview
import.json
card_preview_export.psd
biome_preview
test_pathfinding
test_battlefield_math
test_battlefield
test_combat
test_animation
test_debug_events
test_ore
test_win_condition